body {
  background-color: black;
  font-family: Arial;
}

.display {
  color: white;
  font-size: 45px;
  margin: 15px 0px 5px 3px;
}

.calculator-button {
  font-size: 26px;
  color: white;
  border: none;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  margin-right: 5px;
  cursor: pointer;
}

.gray-button {
  background-color: rgb(51, 51, 51);
}

.operator {
  background-color: rgb(254, 160, 10);
}

.clear {
  font-size: 17px;
}